* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-image: url("images/wallpaper2.jpg"); */
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container {
    width: 50vw;
    max-width: 150000px;
    background-color: blue;
    height: 95vh;
    max-height: 1800px;
}

.header__container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}